<mat-nav-list>
  <div class="profile-card">
  <div class="header">
      <h2>CONVERGENCE PORTAL</h2>
      <h4>Converged Technologies</h4>
      <img src="/assets/Logo.png" alt="">
      <h6>Licensed to Company name</h6>
  </div>
  
</div>
<mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/dashboard']"> Dashboard </a>
      <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/devices']"> Devices </a>
      <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/counter']"> Counter </a>
      <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/fetch-data']"> Fetch data </a>
      <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/owners']">Owner Actions</a>

<mat-divider></mat-divider>

Devices
</mat-nav-list>