<body>
  <mat-toolbar color="white">
    <mat-toolbar-row>
      <h1>Convergence Portal</h1>
      <span class="menu-spacer"></span>

      <div class="navbar-nav" *ngIf="isAuthenticated | async">
        <a mat-button class="nav-link text-dark" [routerLink]='["/authentication/profile"]' title="Manage">Hello {{ userName | async }}</a>
        <a mat-button class="nav-link text-dark" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
      </div>

      <div class="navbar-nav" *ngIf="!(isAuthenticated | async)">
        <a mat-button class="nav-link text-dark" [routerLink]='["/authentication/register"]'>Register</a>
        <a mat-button class="nav-link text-dark" [routerLink]='["/authentication/login"]'>Login</a>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>


  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
