


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" opened role="navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="/assets/Logo.png">
        <mat-toolbar>CONVERGED PORTAL</mat-toolbar>
      </a>
    </div>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard']"> Dashboard </a>
      <a mat-list-item [routerLink]="['/devices']"> Devices </a>
      <a mat-list-item [routerLink]="['/counter']"> Counter </a>
      <a mat-list-item [routerLink]="['/fetch-data']"> Fetch data </a>

      <app-login-menu></app-login-menu>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="black">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


