.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 240px;
  background: #131a21;
}

  .sidenav .mat-toolbar {
    background: inherit;
  }

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

img {
  height: auto;
  width: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 72px;
  max-width: 400px;
  display: block;
}

.mat-list-item {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  Font-size: 1.2em;
  color: grey;
  font-weight: 500;
}

.navbar-brand .navbar-item .mat-toolbar {
  font-size: 1em;
  text-align: center;
  display: block;
  color: grey;
}

.material-icons {
  margin-left: 5px;
  margin-right: 20px;
}
